{{ $name := promptString "name" -}}
{{ $email := promptString "email" -}}
{{ $computerName := promptString "computer name" -}}
{{- $install_casks := promptBoolOnce . "casks" "casks" -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  computerName = {{ $computerName | quote }}
  casks = {{ $install_casks }}
