[core]
  editor = vim
  excludesfile = ~/.gitignore
[alias]
  st = status
  di = diff
  co = checkout
  ci = commit
  br = branch
  sta = stash
  cp = cherry-pick
  dlc = diff --cached HEAD^
  review = log -p --reverse -M -C -C --patience --no-prefix
  l = log --graph --branches --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
  ll = log --graph --branches --remotes --tags --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
  rip = !git reset --hard HEAD && git clean -d -f
[apply]
  whitespace = nowarn
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
	ui = true
[branch]
  autosetupmerge = true
[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}
[push]
  default = simple
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[diff]
  compactionHeuristic = true
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[pager]
	branch = false
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pull]
	rebase = true
[init]
	defaultBranch = main
[rebase]
  autostash = true
