[alias]
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	di = diff
	dlc = diff --cached HEAD^
	l = log --graph --branches --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	ll = log --graph --branches --remotes --tags --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	review = log -p --reverse -M -C -C --patience --no-prefix
	st = status
	sta = stash
[branch]
	autosetupmerge = true
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[color "diff"]
	commit = yellow bold
	frag = magenta bold
	meta = 11
	new = green bold
	old = red bold
	whitespace = red reverse
[commit]
	gpgsign = true
[core]
	commentChar = auto
	editor = vim
	excludesfile = ~/.gitignore
	ignorecase = false
[diff]
	compactionHeuristic = true
[gpg]
	format = ssh
	#program = /usr/local/bin/gpg
[gpg "ssh"]
	allowedSignersFile = "~/.config/git/allowed-signers"
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[init]
	defaultBranch = main
[pager]
	branch = false
[pull]
	rebase = true
[push]
	default = simple
[rebase]
	autostash = true
[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDkPKXFmhMDXImnHFuqsUVL2Z0GzYBwFTDxZaxIcYAOJ

# Filters: lfs, media
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[filter "media"]
	clean = git media clean %f
	required = true
	smudge = git media smudge %f
