{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Install homebrew if it doesn't exist yet
[ -z "$(which brew)" ] &&
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Homebrew packages
{{ $brews := list
    "zsh"
    "antibody"
    "starship"
    "bat"
    "tmux"
    "fzf"
    "exa"
    "ripgrep"
    "wget"
    "htop"
    "neovim"
    "git"
    "git-flow"
    "git-delta"
    "gh"
    "rbenv"
    "ruby-build"
    "elixir"
  -}}

# Homebrew casks
{{ $casks := list
    "iterm2"
    "slack"
    "visual-studio-code"
    "1password"
    "1password-cli"
  -}}

# Homebrew fonts
{{ $fonts := list
    "homebrew/cask-fonts/font-iosevka-nerd-font"
    "homebrew/cask-fonts/font-blex-mono-nerd-font"
    "homebrew/cask-fonts/font-hack-nerd-font"
  -}}

# Packages only installed on personal computers (see .chezmoi.toml.tmpl)
{{ if .personal -}}
  {{ $brews = concat $brews  (list
    "youtube-dl"
    "rconroy293/seventeenlands/seventeenlands"
  )}}

  {{ $casks = concat $casks  (list
    "spotify"
    "telegram"
    "maccy"
    "transmit"
  )}}
{{ end -}}

# Packages only installed on work computers (see .chezmoi.toml.tmpl)
{{ if .work -}}
  {{ $brews = concat $brews  (list
    "ansible"
    "awscli"
    "node"
    "yarn"
  )}}
{{ end -}}

# Install packages
{{ range ($brews | sortAlpha | uniq) -}}
  brew install "{{ . }}"
{{ end -}}

# Install casks
{{ range ($casks | sortAlpha | uniq) -}}
  brew install --cask "{{ . }}"
{{ end -}}

# Install fonts
brew tap homebrew/cask-fonts
{{ range ($fonts | sortAlpha | uniq) -}}
  brew install "{{ . }}"
{{ end -}}
{{ end -}}
