{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Install packages
sudo dnf install zsh exa yt-dlp ripgrep curl git

# Asdf setup
git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.2 || true

# Temporarily init asdf
. $HOME/.asdf/asdf.sh

# Install asdf plugins
asdf plugin add nodejs || true
asdf plugin add yarn   || true
asdf plugin add ruby   || true
{{ end -}}
