{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

# Install packages
sudo dnf install zsh exa yt-dlp ripgrep

# Asdf setup
git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.2

# Temporarily init asdf
. $HOME/.asdf/asdf.sh

# Install asdf plugins
asdf plugin add nodejs || true
asdf plugin add yarn   || true
asdf plugin add ruby   || true

# Antidote
git clone --depth=1 https://github.com/mattmc3/antidote.git ${ZDOTDIR:-~}/.antidote

# Fzf setup
git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
~/.fzf/install
{{ end -}}
