{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Install homebrew if it doesn't exist yet
if [ -z "$(which brew)" ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> $HOME/.zprofile
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# Install packages
brew install zsh
brew install antidote
brew install starship
brew install tmux
brew install fzf
brew install ripgrep
brew install exa
brew install wget
brew install htop
brew install neovim
brew install git
brew install git-flow
brew install asdf
brew install yt-dlp
brew install overmind
brew install svn # FIXME: until homebrew cask figures out its dependency for font installation
brew install fd
brew install gpg

# Syncthing
brew install syncthing
brew services restart syncthing

# Install casks
brew install firefox
brew install iterm2
brew install slack
brew install visual-studio-code
brew install 1password
brew install 1password-cli
brew install alfred
brew install spotify
brew install telegram
brew install transmit
brew install todoist
brew install fantastical
brew install mimestream
brew install logseq
brew install chromium
brew install vlc
brew install devonthink
brew install discord
brew install rectangle-pro

# Install fonts
brew tap homebrew/cask-fonts
brew install font-iosevka-nerd-font
brew install font-blex-mono-nerd-font
brew install font-hack-nerd-font
brew install font-ia-writer-duo
brew install font-ia-writer-duospace
brew install font-ia-writer-mono
brew install font-ia-writer-quattro
brew install font-roboto
brew install font-source-sans-pro
brew install font-input

# Asdf setup
asdf plugin add nodejs || true
asdf plugin add yarn   || true
asdf plugin add ruby   || true

# Work-related packages
{{ if .work -}}
brew install awscli
brew install postgresql
brew install redis
brew install opensearch
brew install imagemagick
brew install vips
{{ end -}}

# Mac App Store apps
{{ if .mas -}}
brew install mas
mas install 1435957248  # Drafts
mas install 1475387142  # Tailscale
mas install 937984704   # Amphetamine
mas install 1289197285  # Mindnode
# mas install 497799835   # Xcode
# mas install 1451685025  # Wireguard
# mas install 409183694   # Keynote
{{ end -}}

# Music packages
{{ if .music -}}
brew install ableton-live-suite
{{ end -}}

# Miscellaneous stuff

# fzf shell completion/keybindings setup
/opt/homebrew/opt/fzf/install

# Remove quarantine attribute from chromium so that it can run straight off the cask install
xattr -cr /Applications/Chromium.app

{{ end -}}
