{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

# Install homebrew if it doesn't exist yet
if [ -z "$(which brew)" ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> $HOME/.zprofile
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# Install packages
brew install zsh
brew install starship
brew install fzf
brew install ripgrep
brew install exa
brew install neovim
brew install fd
#brew install gpg
brew install xcodes

# Syncthing
#brew install syncthing
#brew services restart syncthing

# Install casks
brew install --cask xcodes
brew install --cask 1password
brew install --cask 1password-cli
brew install --cask cleanshot
brew install --cask github
brew install --cask obsidian
brew install --cask raycast
brew install --cask sf-symbols
brew install --cask sketch
brew install --cask slack
brew install --cask sublime-merge
brew install --cask via
brew install --cask visual-studio-code
brew install --cask vlc

# Install fonts
brew tap homebrew/cask-fonts
brew install font-cascadia-code-pl
brew install font-ia-writer-duo
brew install font-ia-writer-duospace
brew install font-ia-writer-mono
brew install font-ia-writer-quattro
brew install font-iosevka-nerd-font

# Antidote for zsh
git clone --depth=1 https://github.com/mattmc3/antidote.git ${ZDOTDIR:-~}/.antidote

# Mac App Store apps
{{ if .mas -}}
brew install mas
mas install 420212497 # Byword
mas install 640199958 # Developer
{{ end -}}


# Miscellaneous stuff that may require user input

# Install Logitech drivers for MX master 3
brew tap homebrew/cask-drivers
brew install --cask logitech-options

# Install latest Xcode from Apple Developer portal;
# Asks for Apple ID and requires superuser privileges.
xcodes install --latest

# Install rust
# curl https://sh.rustup.rs -sSf | sh

# fzf shell completion/keybindings setup
/opt/homebrew/opt/fzf/install

{{ end -}}
