wtf:
  colors:
    border:
      focusable: darkslateblue
      focused: orange
      normal: gray
  grid:
    columns: [32, 32, 32, 32, 90]
    rows: [10, 10, 10, 4, 4, 90]
  refreshInterval: 1
  mods:
    clocks:
      colors:
        rows:
          even: "lightblue"
          odd: "white"
      enabled: true
      locations:
        Coimbra: "Europe/Lisbon"
        New York: "America/New York"
        Austin: "America/Chicago"
        SF: "America/Los_Angeles"
      position:
        top: 0
        left: 1
        height: 1
        width: 1
      refreshInterval: 15
      sort: "natural"
      title: "World clock"
      type: "clocks"
    power:
      enabled: true
      position:
        top: 0
        left: 3
        height: 1
        width: 1
      refreshInterval: 15
      title: "Power ⚡"
    hackernews:
      title: "Hacker News"
      enabled: true
      numberOfStories: 22
      position:
        top: 1
        left: 0
        height: 3
        width: 2
      storyType: top
      refreshInterval: 900
    # feedreader:
    #   enabled: true
    #   feeds:
    #     - https://news.ycombinator.com/rss
    #   feedLimit: 20
    #   position:
    #     top: 1
    #     left: 0
    #     height: 3
    #     width: 2
    #   refreshInterval: 14400
    pihole:
      apiUrl: http://192.168.1.100/admin/api.php
      enabled: true
      maxClientWidth: 20
      maxDomainWidth: 20
      position:
        top: 1
        left: 2
        height: 3
        width: 2
      refreshInterval: 60
      showSummary: true
      showTopItems: 5
      showTopClients: 5
      token: {{ (onepassword "Pihole API Token").details.password }}
    resourceusage:
      title: "Resources"
      cpuCombined: false
      enabled: true
      position:
        top: 0
        left: 2
        height: 1
        width: 1
      refreshInterval: 1
      showCPU: true
      showMem: false
      showSwp: false
    prettyweather:
      title: "Weather"
      enabled: true
      city: "Coimbra"
      position:
        top: 0
        left: 0
        height: 1
        width: 1
      refreshInterval: 300
      unit: "m"
      view: 0
      language: "en"
